@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Car Workshop!</h1>
    <p class="lead">We provide high-quality car repair and maintenance services to keep your vehicle running smoothly.</p>
    <p>To access our online system and manage your tickets, please log in or create an account.</p>

    
</div>
